nav {
    background-color: black;
}
ul{
    padding: 0%;
}

ul li {
    position: relative;
    list-style: none;
    padding: 0.5rem;
}
a {
    text-decoration: none;
    color: #ccc;
    padding: 0.5rem;
}
#menu-1 {
    display: flex;
    padding: 0.5rem;
}

#menu-2 {
    display: none;
}

ul li:hover {
    color: lightgreen;
}