<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="container my-3 bg-white">
<form action="#" th:action="@{/books/new}" method="post" th:object="${book}" enctype="multipart/form-data">
    <input type="hidden" name="id" th:if="${book.id != null}" th:value="${book.id}" />
    <div class="card">
        <div class="card-header">
            <h1 th:text="${book.id != null ? 'Edit Book':'Create Book'}"></h1>
        </div>

        <div class="card-body">
            <div class="row mb-3">
                <label for="code" class="col-sm-2 col-form-label">Code</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{code}" id="code" class="form-control" placeholder="Book Code">
                    <span></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{name}" id="name" class="form-control" placeholder="Book Code">
                    <span></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="imgUrl" class="col-sm-2 col-form-label">Img</label>
                <div class="col-sm-10">
                    <input type="file" th:field="*{imgUrl}" id="imgUrl" class="form-control" placeholder="Book Code">
                    <span></span>
                    <input type="hidden" th:field="*{imgUrl}" />
                </div>
            </div>

            <div class="row mb-3">
                <label for="description" class="col-sm-2 col-form-label">Code</label>
                <div class="col-sm-10">
                    <textarea th:field="*{description}" name="description" id="description" class="form-control" rows="2"></textarea>
                    <span></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="quantity" class="col-sm-2 col-form-label">Code</label>
                <div class="col-sm-10">
                    <input type="number" th:field="*{quantity}" id="quantity" class="form-control" placeholder="Book Code">
                    <span></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="price" class="col-sm-2 col-form-label">Price</label>
                <div class="col-sm-10">
                    <input type="number" th:field="*{price}" id="price" class="form-control" placeholder="Book Code">
                    <span></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="auth" class="col-sm-2 col-form-label">Price</label>
                <div class="col-sm-10 d-flex">
                    <div th:each="author:${authors}" class="mx-2 px-2">
                        <input type="checkbox" name="authorIDs"
                               th:attr="id='checkAuthor_'+${author.id}"
                               th:value="${author.id}"
                               th:checked="${book.authors.contains(author)}"/>
                        <label th:text="${author.getName()}" th:attr="for='checkAuthor_'+${author.id}"></label>
                    </div>
                    <span></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="isActive" class="col-sm-2 col-form-label">Price</label>
                <div class="col-sm-10">
                    <input type="checkbox" th:checked="${book.isActive?'true':'false'}" th:field="*{isActive}" id="isActive" />
                    <span th:text="${book.isActive} ? 'Active' : 'Inactive'">Active</span>
                </div>
            </div>

        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary" th:text="${book.id} != null ? 'Update' : 'Create'">Save</button>
            <a href="@{/books}" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</form>
    </section>
</body>
</html>